.PhotoPopup {
  position: fixed;
  top: 10%;
  bottom: 10%;
  right: 10%;
  left: 10%;
  background-size: cover;
  background-position: center;
  background-image: url("http://interview.agileengine.com/pictures/cropped/01.jpg");

  &__info {
    padding: 4rem;
    color: white;
    position: absolute;
    bottom: 0;
    min-height: 14rem;
    height: 15%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  &__button-close {
    appearance: none;
    position: absolute;
    right: 2rem;
    top: 2rem;
    background-color: #fff;
    border-radius: 5px;
  }
}
