@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto-Regular.eot");
  src: url("../../assets/fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"),
    url("../../assets/fonts/Roboto-Regular.svg#Roboto-Regular") format("svg"),
    url("../../assets/fonts/Roboto-Regular.ttf") format("truetype"),
    url("../../assets/fonts/Roboto-Regular.woff") format("woff"),
    url("../../assets/fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-items: stretch;
  justify-content: stretch;
}

.App {
  position: relative;
  flex: 1;

  &__title {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 1.25rem;
    color: #323232;
    margin: 1.5rem 1rem 0.5rem 1rem;
    padding: 0;
  }
}
